# Игнорировать файл с токеном
config.py
.env

# Игнорировать виртуальное окружение
venv/
.env/
env/

# Игнорировать кэш Python
pycache/
*.pyc
*.pyo
*.pyd

# Игнорировать временные файлы и логи
*.log
*.tmp
*.bak